BOT_TOKEN=secret_token
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/glasses_bot
LOG_LEVEL=INFO
SOURCE_PRODUCTS_CSV=C:\Users\enter\Downloads\best_sellers_amazon_2024_sunglasses.csv
NORMALIZED_PRODUCTS_CSV=app/datasets/products.csv
SYNTHETIC_PRODUCTS_CSV=app/datasets/synthetic_products.csv
INTENTS_CSV=app/datasets/intents.csv
NER_DATASET_JSON=app/datasets/ner_dataset.json
OLLAMA_MODEL=qwen2.5:3b
LLM_ENABLED=true
